NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
ADMIN_EMAILS=
GITHUB_TOKEN=
GITHUB_OWNER=lexographixplus
GITHUB_REPO=bejanko
GITHUB_BRANCH=github-pages-clean
